Repository KeironO/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: compress-images, fetch-book-covers

compress-images:
  name: Compress images
  entry: ./compress-images.sh
  language: system
  pass_filenames: false

fetch-book-covers:
  name: Fetch book covers
  entry: ./scripts/fetch-book-covers.sh
  language: system
  pass_filenames: false

added new book
  content/about.md
  hugo_stats.json
  layouts/_default/single.html
  layouts/partials/custom_head.html
Due: fetch-book-covers

added new book
  hugo_stats.json
  layouts/_default/list.html
Due: none

added new book
  content/reading.md
  static/img/book-covers/9781907103179.jpg
Due: compress-images, fetch-book-covers

Added first listen to
  layouts/_default/single.html
Due: none

Added first listen to
  content/blog/2025/09/polanski.md
  content/blog/2025/09/polanski.ogg
Due: fetch-book-covers

Added first listen to
  content/reading.md
Due: fetch-book-covers

Added first listen to
  hugo_stats.json
  layouts/partials/custom_head.html
  layouts/partials/footer.html
Due: none

Removed Google font dependencies
  content/blog/2025/10/ai.md
Due: fetch-book-covers

Removed Google font dependencies
  layouts/partials/custom_head.html
  layouts/partials/footer.html
  layouts/partials/header.html
Due: none

Removed Google font dependencies
  layouts/partials/header.html
Due: none

Removed Google font dependencies
  layouts/partials/custom_head.html
Due: none

New AI post
  content/blog/2025/10/ai-nhs-bevan-principles.md
  hugo_stats.json
  static/images/blog/2025/10/aneurin-bevan-corwen.jpg
Due: compress-images, fetch-book-covers

Moving over old whys
  content/why/_index.md
  content/why/free-software.md
  hugo.toml
  hugo_stats.json
  layouts/_default/single.html
  layouts/why/list.html
Due: fetch-book-covers

Moving over old whys
  content/why/open-protocols.md
  content/why/open-standards-nhs.md
  hugo_stats.json
Due: fetch-book-covers

Moving over old whys
  content/why/open-standards-nhs.md
Due: fetch-book-covers

Moving over old whys
  layouts/partials/custom_head.html
Due: none

Moving over old whys
  layouts/partials/custom_head.html
  layouts/partials/header.html
Due: none

Moving over old whys
  content/blog/2025/10/open-standards-healthcare-lessons.md
  hugo_stats.json
  layouts/_default/single.html
Due: fetch-book-covers

Moving over old whys
  content/blog/2025/10/open-standards-healthcare-lessons.md
Due: fetch-book-covers

feat: added subscribe
  content/blog/2025/10/open-standards-healthcare-lessons.md
Due: fetch-book-covers

fix: Update the subscribe.md file to no longer include a link to Blogtrottr for alternative subscription options.
  content/subscribe.md
Due: fetch-book-covers

fix: Update the subscribe page title to 'Subscribe'
  content/subscribe.md
Due: fetch-book-covers

feat: added subscribe
  content/blog/2025/10/being-wrong.md
  content/reading.md
  hugo_stats.json
  static/images/blog/2025/10/green-party-sign.jpg
Due: compress-images, fetch-book-covers

feat: added subscribe
  static/img/book-covers/9780241455678.jpg
Due: compress-images

feat: fixed issue with padding and links
  content/blog/2025/10/being-wrong.md
  layouts/partials/custom_head.html
Due: fetch-book-covers

feat: fixed issue with padding and links
  content/blog/2025/10/being-wrong.md
  content/ffotos/_index.md
  content/ffotos/example-series.md
  hugo.toml
  hugo_stats.json
  layouts/ffotos/list.html
  layouts/ffotos/single.html
  layouts/partials/custom_head.html
  static/images/photography/51144829998_c850acfd16_c.jpg
  static/images/photography/51183579008_6a844fc0f9_c.jpg
Due: compress-images, fetch-book-covers

feat: improve mobile layout with hamburger menu and hide table of contents
  hugo_stats.json
  layouts/index.html
  layouts/partials/custom_head.html
  layouts/partials/header.html
Due: none

feat: improve mobile layout with hamburger menu and hide table of contents (#3)
  hugo_stats.json
  layouts/index.html
  layouts/partials/custom_head.html
  layouts/partials/header.html
Due: none

feat: constrain navbar width
  layouts/partials/header.html
Due: none

feat: constrain navbar width (#5)
  layouts/partials/header.html
Due: none

blog: new caerphilly post
  content/blog/2025/10/caerphilly-by-election.md
Due: fetch-book-covers

blog: photo of caerphilly and new desc
  content/blog/2025/10/caerphilly-by-election.md
  static/images/blog/2025/10/Caerphilly_Castle_south.jpg
Due: compress-images, fetch-book-covers

Post/caerphilly (#6)
  content/blog/2025/10/caerphilly-by-election.md
  static/images/blog/2025/10/Caerphilly_Castle_south.jpg
Due: compress-images, fetch-book-covers

feat: fixed issue with newbuild
  pyproject.toml
  serve.sh
  uv.lock
Due: none

Path conditions:
  compress-images: any of: \.(jpe?g|png)$
  fetch-book-covers: any of: \.md$
