Repository KeironO/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: compress-images, fetch-book-covers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: compress-images
        name: Compress images
        entry: ./compress-images.sh
        language: system
        files: \.(jpe?g|png)$
        pass_filenames: false
      - id: fetch-book-covers
        name: Fetch book covers
        entry: ./scripts/fetch-book-covers.sh
        language: system
        files: \.md$
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

feat: fixed issue with newbuild (#7)
  pyproject.toml
  serve.sh
  uv.lock
Due: none

feat: fixed issue with padding and links (#1)
  content/ffotos/_index.md
  content/ffotos/example-series.md
  hugo.toml
  hugo_stats.json
  layouts/ffotos/list.html
  layouts/ffotos/single.html
  static/images/photography/51144829998_c850acfd16_c.jpg
  static/images/photography/51183579008_6a844fc0f9_c.jpg
Due: compress-images, fetch-book-covers

feat: minor changes
  content/ai-info.md
  docs/ai-redirect-deployment.md
  hugo_stats.json
  layouts/partials/custom_head.html
  static/llms.txt
  static/robots.txt
Due: fetch-book-covers

feat: minor changes
  docs/ai-redirect-deployment.md
Due: fetch-book-covers

feat: minor changes (#8)
  content/ai-info.md
  hugo_stats.json
  layouts/partials/custom_head.html
  static/llms.txt
  static/robots.txt
Due: fetch-book-covers
